body {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 200px;
    background-image: url(http://instashop.in.ua/image/cache/catalog/fotofoni/school/05-600x500.png);
    background-size: cover;
}

.main {
    top: 800px;
    margin: auto;
    height: 450px;
    width: 300px;
    background: grey;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-radius: 10px;
}

.display_wrapper {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 5px;
}

.display {
    font-size: 23px;
    text-align: right;
    border-radius: 10px;
    color: black;
    font-family: 'Tomorrow', sans-serif;
}

.minidisplay_wrapper {
    padding: 10px 10px;
    text-align: right;
}

.mini_display {
    text-align: right;
    color: black;
    background: #a0a0a0;
    font-size: 14px;
    direction: ltr;
}

.buttons_wrapper {
    margin: auto;
}

.bnt_line {
    display: flex;
}

.button_block {
    font-size: 30px;
    margin: 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 50px;
    background: white;
    border: 2px solid;
    user-select: none;
    border-radius: 10px;  
}

.button_block:active {
    transform: scale(0.9);
}

.bttn_C {
    color: red;
}

.button_block:hover {
    cursor: pointer;
}